version: '3.8'

services:
  app:
    build: .
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - PORT=3001
      - DB_HOST=192.168.1.20   # on-prem SQL Server
      - DB_PORT=1433
      - DB_USERNAME=sa
      - DB_PASSWORD=Sqlserver123$
      - DB_DATABASE=OnboardingDB
    volumes:
      - ./uploads:/app/uploads